
<!-- Toolbar -->
<mat-toolbar color="primary">

  <span><img src="./assets/logo/itau-bba-logo.svg" width="100" alt=""></span>

  <span class="example-spacer"></span>

  <mat-icon aria-hidden="false" class="toolbar-icon" aria-label="Ajuda">help_outline</mat-icon>
  <span class="toolbar-text">Ajuda</span>

  <span class="spacer-25"></span>
  <div class="v-separator"></div>
  <span class="spacer-25"></span>

  <span class="toolbar-text avatar">RT</span>

  <div class="usename">
    <span class="spacer-25"></span>
    <div class="toolbar-text username-text">Rafael Tejeda</div>
    <div class="toolbar-text departament-text">Front End</div>
    <span class="spacer-25"></span>
  </div>

  <span class="spacer-35"></span>

   <mat-icon aria-hidden="false" class="toolbar-icon" aria-label="Ajuda">expand_more</mat-icon>

  <span class="spacer-181"></span>

</mat-toolbar>
<!-- Toolbar -->

<div class="content" role="main">

  <div class="title">
    <h1 class="md-title">Novas solicitações</h1>
    <h5 class="md-subhead">insira aqui os dados cadastrais para uma nova solicitação.</h5>
  </div>

  <form [formGroup]="form" class="example-form" (submit)="submitForm($event, form.value)" novalidate="">

  <div class="row mb4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">

          <mat-form-field class="col-md-12">

            <mat-label>Empresa</mat-label>

            <input type="text" matInput
                  [formControl]="form.controls['empresa']"
                  formControlName="empresa"
                  [errorStateMatcher]="matcher"
                   placeholder="Ex. Itaú SA" class="col-md-12">

            <mat-error *ngIf="form.controls['empresa'].hasError('empresa') && !form.controls['empresa'].hasError('required')">
             Por favor digite uma empresa válida
            </mat-error>

            <mat-error *ngIf="form.controls['empresa'].hasError('required')">
              Empresa é <strong>requireda.</strong>
            </mat-error>

          </mat-form-field>

        </div>

        <div class="col-md-3">

          <mat-form-field class="col-md-12">

            <mat-label>CNPJ</mat-label>

            <input type="text" matInput
                   formControlName="cnpj"
                   [formControl]="form.controls['cnpj']"
                   [errorStateMatcher]="matcher"
                   placeholder="Ex. 64.042.728/0001-69" class="col-md-12"
                   mask="00.000.000/0000-00" #cnpj
                   (change)="ValidaCnpj(cnpj.value)">

            <mat-error *ngIf="!cnpjValido && form.controls['cnpj'].hasError('cnpj') && !form.controls['cnpj'].hasError('required')">
             Por favor digite uma cnpj válido
            </mat-error>

            <mat-error *ngIf="form.controls['cnpj'].hasError('required')">
              CNPJ é <strong>requireda.</strong>
            </mat-error>

          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="fill" class="col-md-12">
            <mat-label>Selecione um plano</mat-label>
            <mat-select [(value)]="selected"
            formControlName="plano"
            [formControl]="form.controls['plano']"
            [errorStateMatcher]="matcher">
              <mat-option value="P30">FaleMais 30</mat-option>
              <mat-option value="P60">FaleMais 60</mat-option>
              <mat-option value="P120">FaleMais 120</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['plano'].hasError('plano') && !form.controls['plano'].hasError('required')">
              Por favor digite uma empresa válida
             </mat-error>

             <mat-error *ngIf="form.controls['plano'].hasError('required')">
               Plano é <strong>requiredo.</strong>
             </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3">

          <mat-form-field class="col-md-12">

            <mat-label>Tarifa</mat-label>

            <input type="text" matInput
                  [formControl]="form.controls['tarifa']"
                  formControlName="tarifa"
                  [errorStateMatcher]="matcher"
                   placeholder="Ex. R$ 100,00" class="col-md-12"
                   currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">

            <mat-error *ngIf="form.controls['tarifa'].hasError('tarifa') && !form.controls['tarifa'].hasError('required')">
             Por favor digite uma tarifa válida
            </mat-error>

            <mat-error *ngIf="form.controls['tarifa'].hasError('required')">
              tarifa é <strong>requireda.</strong>
            </mat-error>

          </mat-form-field>

        </div>

        <div class="col-md-3">

          <mat-form-field class="col-md-12">

            <mat-label>Minutos</mat-label>

            <input type="number" matInput
                  [formControl]="form.controls['minutos']"
                  formControlName="minutos"
                  [errorStateMatcher]="matcher"
                   placeholder="Ex.100" class="col-md-12">

            <mat-error *ngIf="form.controls['minutos'].hasError('minutos') && !form.controls['minutos'].hasError('required')">
             Por favor digite um minuto válido.
            </mat-error>

            <mat-error *ngIf="form.controls['minutos'].hasError('required')">
              Os minutos são <strong>obrigatórios.</strong>
            </mat-error>

          </mat-form-field>

        </div>

        <div class="col-md-3">

          <mat-form-field class="col-md-12">

          <mat-label>Valor do Plano</mat-label>

            <input type="text" matInput
                  [formControl]="form.controls['vplano']"
                  formControlName="vplano"
                  [errorStateMatcher]="matcher"
                   placeholder="Ex. R$ 100,00" class="col-md-12"
                   currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">

            <mat-error *ngIf="form.controls['vplano'].hasError('vplano') && !form.controls['vplano'].hasError('required')">
             Por favor digite uma tarifa válida
            </mat-error>

            <mat-error *ngIf="form.controls['vplano'].hasError('required')">
              tarifa é <strong>requireda.</strong>
            </mat-error>

          </mat-form-field>

        </div>

        <div class="col-md-3">

          <mat-form-field class="col-md-12">

          <mat-label>Data Adesão</mat-label>

          <input type="date" matInput
                [formControl]="form.controls['dateAdesao']"
                formControlName="dateAdesaos"
                [errorStateMatcher]="matcher"
                 placeholder="Ex.100" class="col-md-12">

          <mat-error *ngIf="form.controls['dateAdesao'].hasError('dateAdesao') && !form.controls['dateAdesao'].hasError('required')">
           Por favor digite um minuto válido.
          </mat-error>

          <mat-error *ngIf="form.controls['dateAdesao'].hasError('required')">
            Os minutos são <strong>obrigatórios.</strong>
          </mat-error>

        </mat-form-field>
        </div>

        <div class="col-md-12">
          <button type="submit" [disabled]="!form.valid || !cnpjValido" mat-raised-button color="accent">ADICIONAR SOLICITAÇÃO</button>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row mt4">

    <div class="col-md-12">

      <div class="title">
        <h1 class="md-title">Minhas solicitações</h1>
        <h5 class="md-subhead">aqui você pode acompanhar o andamento de suas solicitações.</h5>
      </div>

      <table class="col-md-12" mat-table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td style="height: 81px;" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="empresa">
          <th mat-header-cell *matHeaderCellDef> Empresa </th>
          <td mat-cell *matCellDef="let element">
            <b>{{element.empresa}}</b> <br />
            {{element.cnpj | mask: '00.000.000/0000-00'}}
          </td>
        </ng-container>

        <!-- Plano Column -->
        <ng-container matColumnDef="plano">
          <th mat-header-cell *matHeaderCellDef> Plano </th>
          <td mat-cell *matCellDef="let element"> <b>{{element.plano}}</b> </td>
        </ng-container>

        <!-- tarifa Column -->
        <ng-container matColumnDef="tarifa">
          <th mat-header-cell *matHeaderCellDef> Tarifas </th>
          <td mat-cell *matCellDef="let element"> {{element.tarifa | currency: 'R$'}} </td>
        </ng-container>

        <!-- Minutos Column -->
        <ng-container matColumnDef="minutos">
          <th mat-header-cell *matHeaderCellDef> Minutos </th>
          <td mat-cell *matCellDef="let element"> {{element.minutos}} min</td>
        </ng-container>

        <!-- Valor Plano Column -->
        <ng-container matColumnDef="valorplano">
          <th mat-header-cell *matHeaderCellDef> Valor Plano </th>
          <td mat-cell *matCellDef="let element"> {{element.vplano | currency: 'R$'}} </td>
        </ng-container>

        <!-- Data de adesão Column -->
        <ng-container matColumnDef="datadeadesao">
          <th mat-header-cell *matHeaderCellDef> Data de adesão </th>
          <td mat-cell *matCellDef="let element"> {{ element.dateAdesao | date: 'dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Data de envio Column -->
        <ng-container matColumnDef="datadeenvio">
          <th mat-header-cell *matHeaderCellDef> Data de envio </th>
          <td mat-cell *matCellDef="let element"> {{element.dateEmissao | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <!-- Ações Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">

            <button type="button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu">

              <button mat-menu-item (click)="editar(element._id)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>

              <button mat-menu-item (click)="apagar(element._id)">

                <mat-icon>delete</mat-icon>
                <span>Apagar</span>

              </button>

            </mat-menu>

          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

  </div>

  <hr />

  </form>

</div>
